* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url(./images/bg1.jpg);
  opacity: 0.9;
  background-size: cover;
  background-position: center;
  position: relative;
}

.navbar {
  background-color: #000;
  overflow: hidden;
}

.navbar a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the color of the links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  width: 30px;
  margin-left: 50px;
  cursor: pointer;
}

button {
  padding: 10px 25px;
  background-color: #c2bfbf;
  border: none;
  border-radius: 20px;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 30px;
}

button:hover {
  background-color: #a09c9c;
}

.container {
  width: 50%;
  height: 100vh;
  background: rgba (86, 86, 86, 0.3);
  backdrop-filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
}

.info {
  width: 550px;
  color: white;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.info h1 {
  font-size: 60px;
  letter-spacing: 10px;
}

.info p {
  color: white;
  font-size: 18px;
  margin: 15px 0;
  line-height: 20px;
}

.info input {
  width: 20%;
  padding: 8px 10px;
  outline: none;
  border: 2px solid #fff;
  border-radius: 20px;
  background: transparent;
  color: black;
  font-size: 12px;
}

::placeholder {
  color: black;
}

.slider {
  display: flex;
  align-items: center;
  position: absolute;
  right: 30px;
  bottom: 50px;
}

#prev,
#next {
  width: 20px;
  cursor: pointer;
  font-size: 20px;
  margin: 0 10px;
}

.preview {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.preview img {
  width: 50px;
  height: 50px; /* Add a fixed height to maintain consistent sizing */
  margin: 0 5px; /* Reduce the margin between images */
  opacity: 0.4;
  border: 2px solid transparent; /* Add a border for better visibility on hover */
  transition: opacity 0.3s, border-color 0.3s;
}

.preview .active {
  display: block;
  border: 3px solid #fff;
  width: 100px;
  opacity: 1;
}
